<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <span id="titleHead">SHORT LINK</span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<div class="container">
    <mat-card>

        <form #linkForm="ngForm" (ngSubmit)="onSubmit(linkForm)" *ngIf="!formSubmitted">

            <mat-form-field appearance="fill">
                <mat-label class="center-label">Paste your URL</mat-label>
                <input matInput type="url" [(ngModel)]="urlLink" required name="inputUrl" #inputUrl="ngModel">
                <div [hidden]="(inputUrl.valid || inputUrl.pristine) && inputUrl.errors">
                    <p *ngIf="inputUrl.errors && inputUrl.errors?.['required']" style="color: red;">Enter valid url</p>
                </div>
            </mat-form-field>
            <div>
                <button mat-raised-button color="accent" type="submit" [disabled]="linkForm.invalid">{{!isLoaded ?
                    'Generate' : 'Generating...'}}</button>
            </div>

        </form>

        <div *ngIf="formSubmitted">
            <h2>New Url</h2>
            <div>
                <p><a [href]="tinyUrl" #tinyUrlRef target="='_blank">{{tinyUrl}}</a></p>
            </div>

            <div>
                <button color="primary" style="margin-right: 20px;" mat-raised-button (click)="copyUrl(tinyUrlRef)">{{!isCopied ? 'copy' :
                    'copied'}}</button>
                <button color="accent" mat-raised-button type="reset" (click)="reset()">Reset</button>
            </div>
        </div>

    </mat-card>

    <div id="para">
        <img src="../../assets/—Pngtree—web link_8491765.png" height="250px" width="250px">
        <p>Short Link is a useful tool for condensing long links and making them easier to share. Short Link creates a shorter, more condensed version of the link. These shorter links are easier to share, especially on platforms with character limitations such as Twitter or SMS messaging. They also look cleaner and more aesthetically pleasing.</p>
    </div>

</div>