/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
 margin: 0;
 font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(45deg, #ffcc5c 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
    opacity: 80%;
}
